body{
  background-color: lightskyblue;
}

#header {
  background-color: rgb(10, 10, 24);
  padding: 15px 0 15px 0;
}

#title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center;
  color: yellow;

}


#intro  {
  font-family: cursive;
  text-align: center;
  color: grey;
}