body{
  background-color: lightskyblue;
}

#header {
  background-color: black;
}

#title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center;
  color: yellow;

}


#intro  {
  font-family: cursive;
  text-align: center;
  color: grey;
}